@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    body{
        width: 100%;
        height: 100vh;
        font-family: 'Poppins',sans-serif;
       
        
    }
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px 80px;
        background-color:#0c1c35;
        position: sticky;
        top: 0;
        left: 0;
    }
    .container .logo{
        font-size: 1.8rem;
        font-weight: bold;
        color: white;
    }
    .container .nav ul{
        display: flex;
        flex-direction: row;
    }
    .container .nav ul li{
        list-style: none;
        padding: 0 20px;
    }
    .container .nav ul li a{
        text-decoration: none;
        color: white;
        font-size: 0.9rem;
        font-weight: 600;
        text-transform: uppercase;
        transition: 0.3s ease;
    
    }
    .container .nav ul li a:hover{
        color:rgb(0, 255, 204) ;
        
    }
    .home{
        background-image: url("images/2.webp"); 
          width: 100%;
          height: 90vh;
          background-size: cover;
          background-position: top 25% right 0;
        padding: 80px 60px;
        color: white;
        display: flex;
        align-items: flex-start;
      justify-content: right;
       font-size: 25px;
    }
    .home h1{
        color: #0c1c35;
    }
    .home button{
        background-image: url("images/button.png");
        background-color: transparent;
        color: #0c1c35;
        border: 0px;
        padding: 14px 80px 14px 65px;
        font-size: 21px;
        font-weight: 700px;
        cursor: pointer;
        background-repeat: no-repeat;
    }
    .feature{
        padding: 40px 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .feature .fe-box{
        width: 180px;
        text-align: center;
        padding: 25px 15px;
        border: 1px solid whitesmoke;
        box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
        border-radius: 4px;
        margin: 15px 0;
    }
    .feature .fe-box:hover{
        box-shadow: 10px 10px 54px rgba(70,62,221,0.01);
    }
    .feature .fe-box h6{
        padding: 9px 8px 6px 8px;
        line-height: 1;
        border-radius: 4px;
        color: white;
        background-color: pink;
      
    }  
    .feature .fe-box:nth-child(2) h6{
        background-color: aquamarine;
    }   
    .feature .fe-box:nth-child(3) h6{
        background-color:skyblue;
    }   
    .feature .fe-box:nth-child(4) h6{
        background-color: palevioletred;
    }   
    .feature .fe-box:nth-child(5) h6{
        background-color: coral;
    }  
    .feature .fe-box:nth-child(6) h6{
        background-color:lightblue;
    }   
    .page{
        padding: 40px 80px;
    }
    .page .product{
        text-align: center;
    }
    .page .pro-container{
        padding: 20px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .page .product .pro{
        width: 23%;
        min-width: 250px;
        padding: 10px 12px;
        border: 1px solid #cce7d0;
        cursor: pointer;
        box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
        margin: 15px 0;
        transition: 0.2s ease;
        border-radius:20px ;
        position: relative;
    }
    .page .product .pro:hover{
        box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
    }
    .page .product .pro img{
        width: 100%;
        border-radius: 20px;
    }
    .page .product .pro .des{
        text-align: start;
        padding: 10px 0;
    }
    .page .product .pro .des span{
        color: #606063;
        font-size: 12px;
    }
    .page .product .pro .des h5{
        padding-top: 7px;
        color: black;
        font-size: 14px;
    }
    .page .product .pro .des i{
        font-size: 12px;
        color: rgb(243, 181, 25);
    }
    .page .product .pro .des h4{
        padding-top: 7px;
        font-size: 15px;
        font-weight: 700;
        color: #088178;
    }
    .page .product .pro .eu{
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50px;
        background-color: #e8f6ea;
        font-weight: 500;
        color: #088178;
        border: 1px solid #cce7d0;
        position: absolute;
        bottom: 20px;
        right: 10px;
    }
    .banner{
        margin: 40px 0;
    }
     .normal{
        font-size: 14px;
        font-weight: 600;
        padding: 15px 30px;
        color: black;
        background-color: #fff;
        border-radius: 4px;
        cursor: pointer;
        border: none;
        outline: none;
        transition: 0.2s;
    
    }
    .normal:hover{
        background:  #193871;
        color: white;
    }
    .banner{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url("images/b.jpg");
        width: 100%;
        height: 40vh;
        background-size: cover;
        background-position: center;
    
    }
    .banner h4{
        color: white;
        font-size: 20px;
    }
    .banner h2{
        color: white;
        font-size: 30px;
        padding: 10px 0;
    }
    .banner h2 span{
        color:  #193871;
    }
    .page .arrial{
        text-align: center;
    }
    .page .pro-container{
        padding: 20px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .page .arrial .pro{
        width: 23%;
        min-width: 250px;
        padding: 10px 12px;
        border: 1px solid #cce7d0;
        cursor: pointer;
        box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
        margin: 15px 0;
        transition: 0.2s ease;
        border-radius:20px ;
        position: relative;
    }
    .page .arrial .pro:hover{
        box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
    }
    .page .arrial .pro img{
        width: 100%;
        border-radius: 20px;
    }
    .page .arrial .pro .des{
        text-align: start;
        padding: 10px 0;
    }
    .page .arrial .pro .des span{
        color: #606063;
        font-size: 12px;
    }
    .page .arrial .pro .des h5{
        padding-top: 7px;
        color: black;
        font-size: 14px;
    }
    .page .arrial .pro .des i{
        font-size: 12px;
        color: rgb(243, 181, 25);
    }
    .page .arrial .pro .des h4{
        padding-top: 7px;
        font-size: 15px;
        font-weight: 700;
        color: #088178;
    }
    .page .arrial .pro .eu{
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50px;
        background-color: #e8f6ea;
        font-weight: 500;
        color: #088178;
        border: 1px solid #cce7d0;
        position: absolute;
        bottom: 20px;
        right: 10px;
    }
    
    .newsletter{
        padding: 40px 80px;
        margin: 40px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;  
        background-image: url("images/bbg.png");
        background-position: 20% 30%;
       background-position: no-repeat; 
    }
    .newstext h4{
        font-size: 22px;
        font-weight: 700;
        color: white;
    }
    .newstext p{
        font-size: 14px;
        font-weight: 600;
        color: #088178;
    }
    .newstext p span{
        color: white;
    }
    .newsletter input{
        height: 3.125rem;
        padding: 0 1.25rem;
        font-size: 14px;
        width: 100%;
        border: 1px solid transparent;
        border-radius: 4px;
        outline: none;
        border-top-right-radius: 0 ;
        border-bottom-right-radius: 0;
    }
    .newsletter button{
        background-color: #088178;
        color: #fff;
        white-space: nowrap;
        border-top-left-radius: 0 ;
        border-bottom-left-radius: 0;
    }
    .newsletter .form{
        display: flex;
        width: 400;
    }
    .foot{
        padding: 40px 80px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .foot .col {
        display: flex;
        flex-direction: column;
       align-items: flex-start;
       margin-bottom: 20px;
    }
    .foot h4{
        font-size: 14px;
        padding-bottom: 20px;
    }
    .foot p{
        font-size: 13px;
        margin: 0 0 8px 0;
    }
    .foot a{
        font-size: 13px;
        text-decoration: none;
        color: #222;
        margin-bottom: 10px;
    }
    .foot .follow{
        margin-top: 20px;
    }
    .foot .follow i{
        color:#465b52 ;
    padding-right: 4px;
    cursor: pointer;
    }
    .foot .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
    }
    .foot .install img{
        margin: 10px 0 15px 0;
    }
    .foot .follow i:hover,
     .foot a:hover{
    color: #088178;
    }
    .foot .copyright{
        width: 100%;
        text-align: center;
    }